global
  log /dev/log  local0
  log /dev/log  local1 notice
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
{% if haproxy_version == '1.4' %}
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000
{% else %}
        timeout connect 5000
        timeout client 50000
        timeout server 50000
{% endif %}
{% if ansible_os_family == 'Debian' %}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http
{% endif %}

{% for haproxy_frontend in haproxy_frontends %}
frontend {{ haproxy_frontend.name }}
{% for bind in haproxy_frontend.bind %}
{% if bind.ssl | default(false) %}
    bind {{ bind.address }}:{{ bind.port }} ssl crt {{ bind.pem_proxy }}
{% else %}
    bind {{ bind.address }}:{{ bind.port }}
{% endif %}
{% endfor %}
{% if haproxy_frontend.ssl_redirect | default(false) %}
    redirect scheme https if !{ ssl_fc }
{% endif %}
{% if haproxy_frontend.option is defined %}
{% for option in haproxy_frontend.option %}
    option {{ option }}
{% endfor %}
{% endif %}
    mode {{ haproxy_frontend.mode }}
    default_backend {{ haproxy_frontend.backend_name }}
{% endfor %}

{% for haproxy_backend in haproxy_backends %}
backend {{ haproxy_backend.name }}
    mode {{ haproxy_backend.mode }}
    balance {{ haproxy_backend.balance_method }}
{% if haproxy_backend.option is defined %}
{% for option in haproxy_backend.option %}
    option {{ option }}
{% endfor %}
{% endif %}
{% if haproxy_backend.cookie | default(false) %}
    cookie SERVERID insert indirect
{% endif %}
{% for server in haproxy_backend.servers %}
    server {{ server.name }} {{ server.address }} {{ server.options }}
{% endfor %}
{% endfor %}
